.main {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.btn {
    color: #fff;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    text-decoration: none;
}

.input {
    border: 1px solid red;
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    display: block;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    background: transparent;
}
